<!-- There is must be tournament information, tournament table (from games). Use Angular Material Components -->
 <div class="tournament-main">
    <div class="tournament-main__tournament-info">
        <h1>{{ tournament.name }}</h1>
        <h2>Başlanma tarixi: {{ tournament.startDate | azeFullDate}}</h2>
    </div>
    <!-- We need two tabs Turnir cədvəli and Oyunlar -->
    <div class="tournament-main__tabs">
        <mat-tab-group>
            <mat-tab label="Turnir Cədvəli">
                <ng-template matTabContent>
                    <div class="tournament-main__tournament-table">
                        <h2>Turnir Cədvəli</h2>
                        <table mat-table [dataSource]="tournamentTable?.teams || []" class="mat-elevation-z8">
                            <ng-container matColumnDef="place">
                                <th mat-header-cell *matHeaderCellDef>Yerləşmə</th>
                                <td mat-cell *matCellDef="let team; let i = index">{{ i + 1 }}</td>
                            </ng-container>
                            <ng-container matColumnDef="team">
                                <th mat-header-cell *matHeaderCellDef>Komanda</th>
                                <td mat-cell *matCellDef="let team">{{ team.team.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef>Ballar</th>
                                <td mat-cell *matCellDef="let team">{{ team.points }}</td>
                            </ng-container>
                            <ng-container matColumnDef="matchesPlayed">
                                <th mat-header-cell *matHeaderCellDef>Oyunlar</th>
                                <td mat-cell *matCellDef="let team">{{ team.matchesPlayed }}</td>
                            </ng-container>
                            <ng-container matColumnDef="matchesWon">
                                <th mat-header-cell *matHeaderCellDef>Qalibiyyətlər</th>
                                <td mat-cell *matCellDef="let team">{{ team.matchesWon }}</td>
                            </ng-container>
                            <ng-container matColumnDef="matchesLost">
                                <th mat-header-cell *matHeaderCellDef>Məğlubiyyətlər</th>
                                <td mat-cell *matCellDef="let team">{{ team.matchesLost }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['place', 'team', 'points', 'matchesPlayed', 'matchesWon', 'matchesLost']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['place', 'team', 'points', 'matchesPlayed', 'matchesWon', 'matchesLost']"></tr>
                        </table>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Oyunlar">
                <ng-template matTabContent>
                    <div class="tournament-main__games">
                        <h2>Oyunlar</h2>
                        <table mat-table [dataSource]="tournamentTable?.games || []" class="mat-elevation-z8">
                            <ng-container matColumnDef="tour">
                                <th mat-header-cell *matHeaderCellDef>Mərhələ</th>
                                <td mat-cell *matCellDef="let game">{{ game.tour.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="team1">
                                <th mat-header-cell *matHeaderCellDef>Komanda 1</th>
                                <td mat-cell *matCellDef="let game">{{ game.team1.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="team2">
                                <th mat-header-cell *matHeaderCellDef>Komanda 2</th>
                                <td mat-cell *matCellDef="let game">{{ game.team2.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="score">
                                <th mat-header-cell *matHeaderCellDef>Hesab</th>
                                <td mat-cell *matCellDef="let game">{{ game.scoreTeam1 }} : {{ game.scoreTeam2 }}</td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>Tarix</th>
                                <td mat-cell *matCellDef="let game">{{ game.startDate | azeFullDate }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['tour', 'team1', 'team2', 'score', 'date']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['tour', 'team1', 'team2', 'score', 'date']"></tr>
                        </table>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Əsasnamə">
                <ng-template matTabContent>
                    <div class="tournament-main__statute">
                        <h2>Turnirin Əsasnaməsi</h2>
                        <div [innerHTML]="(tournament.statute || '') | safeHtml"></div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
 </div>