<div class="gallery-main">
    <h1>Qalereya</h1>
    <!-- Last photos -->
    <p>Son fotoşəkillər</p>
    <div class="gallery-grid">
        <div class="gallery-item" *ngFor="let photo of lastPhotos">
            <img [src]="photo.url" [alt]="photo.description" (click)="openPhoto(photo)" />
        </div>
    </div>

    <div class="gallery-filters">
        <!-- Select tournament, tour -->
        <mat-form-field appearance="fill">
            <mat-label>Yarış</mat-label>
            <mat-select [(value)]="selectedTournament" (selectionChange)="onTournamentChange($event.value)">
                <mat-option *ngFor="let tournament of tournaments" [value]="tournament._id">
                    {{ tournament.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tur</mat-label>
            <mat-select [(value)]="selectedTour" (selectionChange)="onTourChange($event.value)">
                <mat-option *ngFor="let tour of tours" [value]="tour._id">
                    {{ tour.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="gallery-grid">
        <div class="gallery-item" *ngFor="let photo of photos">
            <img [src]="photo.url" [alt]="photo.description" (click)="openPhoto(photo)" />
        </div>
    </div>
    <p *ngIf="photos.length === 0">Filtrdən yarışı və turu seçərək şəkillərə baxa bilərsiniz.</p>
</div>
