<div class="breadcrumbs">
    <button mat-raised-button extended routerLink="/">
        <mat-icon>home</mat-icon>
        Baş səhifə
    </button>
</div>

<app-stats-filters
    [selectedTab]="selectedTab"
    [districts]="districts"
    [schools]="schools"
    [teachers]="teachers"
    [exams]="exams"
    [gradesOptions]="gradesOptions"
    [selectedDistrictIds]="selectedDistrictIds"
    [selectedSchoolIds]="selectedSchoolIds"
    [selectedTeacherIds]="selectedTeacherIds"
    [selectedGrades]="selectedGrades"
    [selectedExam]="selectedExam"
    [selectedMonth]="selectedMonth"
    (monthUpdated)="updateMonth($event)"
    (districtChanged)="onDistrictSelectChanged($event)"
    (schoolChanged)="onSchoolSelectChanged($event)"
    (teacherChanged)="onTeacherSelectChanged($event)"
    (gradeChanged)="onGradeSelectChanged($event)"
    (examChanged)="onExamSelectChanged($event)"
    (searchStringChanged)="onSearchChange($event)"
></app-stats-filters>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Ayın şagirdləri" [className]="darkMode ? 'dark-mode' : 'light-mode'">
        <div class="stats-container" *ngIf="!isloading">
            <app-student-rating-table
                [title]="(developingStudentsLabel$ | async) || 'Cari ayda inkişaf edən şagirdlər'"
                [tableName]="'developingStudents'"
                [dataSource]="stats.developingStudents || []"
                [columns]="monthStudentColumns"
                (excelExport)="exportToExcel('developingStudents')"
                (rowClicked)="openStudentDetails($event)">
            </app-student-rating-table>
        
            <app-student-rating-table
                [title]="(studentsOfMonthLabel$ | async) || 'Cari ayın şagirdləri'"
                [tableName]="'studentsOfMonth'"
                [dataSource]="stats.studentsOfMonth || []"
                [columns]="monthStudentColumns"
                (excelExport)="exportToExcel('studentsOfMonth')"
                (rowClicked)="openStudentDetails($event)">
            </app-student-rating-table>
        
            <app-student-rating-table
                [title]="(studentsOfMonthByRepublicLabel$ | async) || 'Respublika üzrə cari ayın şagirdləri'"
                [tableName]="'studentsOfMonthByRepublic'"
                [dataSource]="stats.studentsOfMonthByRepublic || []"
                [columns]="monthStudentColumns"
                (excelExport)="exportToExcel('studentsOfMonthByRepublic')"
                (rowClicked)="openStudentDetails($event)">
            </app-student-rating-table>
        </div>
    </mat-tab>
    <mat-tab label="İlin şagirdləri">
        <div *ngIf="!isloading">
            <table mat-table [dataSource]="stats.students || []" class="mat-elevation-z8" matSort #studentSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="studentColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Şagirdin kodu
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.code }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="lastName" *ngIf="studentColumns.includes('lastName')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Soyadı
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.lastName }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="firstName" *ngIf="studentColumns.includes('firstName')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Adı
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.firstName }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="middleName" *ngIf="studentColumns.includes('middleName')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atasının adı
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.middleName }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="grade" *ngIf="studentColumns.includes('grade')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Sinfi
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.grade }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="teacher" *ngIf="studentColumns.includes('teacher')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Müəllimi
                    </th>
                    <td mat-cell *matCellDef="let student" [ngClass]="{'not-found': !student.teacher}">
                        {{ (student.teacher || '').fullname || 'Müəllim tapılmadı' }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="school" *ngIf="studentColumns.includes('school')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Məktəbi
                    </th>
                    <td mat-cell *matCellDef="let student" [ngClass]="{'not-found': !student.school}">
                        {{ (student.school || '').name || 'Məktəb tapılmadı' }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="district" *ngIf="studentColumns.includes('district')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Rayonu / şəhəri
                    </th>
                    <td mat-cell *matCellDef="let student" [ngClass]="{'not-found': !student.district}">
                        {{ (student.district || '').name || 'Rayon / şəhər tapılmadı' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="score" *ngIf="studentColumns.includes('score')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Ümumi balı
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.score || 0 }}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="studentColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Orta balı
                    </th>
                    <td mat-cell *matCellDef="let student">
                        {{ student.averageScore | roundNumber }}
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="studentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: studentColumns;" class="clickable-row" (click)="openStudentDetails(row._id)"></tr>
            </table>
        </div>

        <div *ngIf="!isloading && stats.students && stats.students.length > 0" >
            <mat-paginator
                [length]="totalCounts.allStudentsTotalCount"
                [pageIndex]="pageIndex"
                [showFirstLastButtons]="true"
                [pageSize]="studentsPageSize"
                [pageSizeOptions]="[1000, 10000]"
                (page)="onPageChange($event)" />
        </div>

        <div *ngIf="!isloading && stats.students && stats.students.length > 0">
            <button mat-raised-button (click)="exportToExcel('allStudents')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
        </div>
    </mat-tab>
    <mat-tab label="İlin müəllimləri">
        <div *ngIf="!isloading">
            <table mat-table [dataSource]="stats.teachers || []" class="mat-elevation-z8" matSort #teacherSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="teacherColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Müəllimin kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="fullName" *ngIf="teacherColumns.includes('fullName')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Soyadı, adı, ata adı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.fullname }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="teacherColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="teacherColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="school" *ngIf="teacherColumns.includes('school')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Məktəbi </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.school || '').name }} </td>
                </ng-container>
                
                <ng-container matColumnDef="district" *ngIf="teacherColumns.includes('district')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayonu / şəhəri </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.district || '').name }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="teacherColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: teacherColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.teachers && stats.teachers.length > 0">
                <mat-paginator
                    [length]="totalCounts.allTeachersTotalCount"
                    [pageIndex]="pageIndex"
                    [showFirstLastButtons]="true"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[100, 1000]"
                    (page)="onPageChange($event)"
                />
            </div>

            <div *ngIf="!isloading && stats.teachers && stats.teachers.length > 0">
                <button mat-raised-button (click)="exportToExcel('allTeachers')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin məktəbləri">
        <div *ngIf="!isloading">
            <table mat-table [dataSource]="stats.schools || []" class="mat-elevation-z8" matSort #schoolSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="schoolColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Məktəbin kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="name" *ngIf="schoolColumns.includes('name')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Adı </th>
                <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="schoolColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="schoolColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
                
                <ng-container matColumnDef="district" *ngIf="schoolColumns.includes('district')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayonu / şəhəri </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.district || '').name }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="schoolColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: schoolColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.schools && stats.schools.length > 0">
                <mat-paginator
                    [length]="totalCounts.allSchoolsTotalCount"
                    [pageIndex]="pageIndex"
                    [showFirstLastButtons]="true"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[100, 1000]"
                    (page)="onPageChange($event)"
                />
            </div>

            <div *ngIf="!isloading && stats.schools && stats.schools.length > 0">
                <button mat-raised-button (click)="exportToExcel('allSchools')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin rayonları / şəhərləri">
        <div *ngIf="!isloading">
            <table mat-table [dataSource]="districtsDataSource" class="mat-elevation-z8" matSort #districtSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="districtColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayon / şəhər kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="name" *ngIf="districtColumns.includes('name')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Adı </th>
                <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="districtColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="districtColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="districtColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: districtColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.districts && stats.districts.length > 0">
                <button mat-raised-button (click)="exportToExcel('allDistricts')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="stats-container" *ngIf="isloading">Statistika yüklənir...</div>

<mat-grid-list cols="4" rowHeight="100px" *ngIf="isAdminOrSuperAdmin$ | async">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="statistics-action">
            <button mat-raised-button (click)="updateStats()"><mat-icon>update</mat-icon> {{isUpdating ? 'Yenilənir...' : 'Statistikanı yenilə'}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>