<h2 mat-dialog-title>Yeni rayonun əlavə edilməsi</h2>
<mat-dialog-content>
    <form #districtForm='ngForm'>
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
            <mat-label style="color: red">Rayon adı</mat-label>
            <input matInput [(ngModel)]='data.name' name="name" required />
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
            <mat-label>Rayon kodu</mat-label>
            <input matInput [(ngModel)]='data.code' name="code" required />
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCancel()">Ləğv et</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!data.name || !data.code">
        Yadda saxla
    </button>
</mat-dialog-actions>
