@import '../../../../../variables.scss';

.home-tournaments {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 16px;
        color: #d8c2c9;
    }

    .tournament-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        .tournament-card {
            border: 1px solid #d8c2c9;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            max-width: 200px;

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: rgba(0, 0, 0, 0.8);
                transform: translateY(-2px);
                transition: background-color 0.3s ease, transform 0.3s ease;
            }

            .tournament-image {
                width: 100%;
                object-fit: cover;
            }

            .tournament-details {
                padding: 12px;

                .tournament-name {
                    font-size: 18px;
                    font-weight: bold;
                    color: $darkWhite;
                }

                .tournament-date {
                    font-size: 14px;
                    color: #acacac;
                }

                button {
                    margin-top: 8px;
                }
            }
        }
    }
}
