<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar color="primary">
            <span>İdarəetmə paneli</span>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/users" *ngIf="isAdminOrSuperAdmin$ | async">
                <mat-icon matListIcon>people</mat-icon>
                <span>İstifadəçilər</span>
            </a>
            <a mat-list-item routerLink="/admin/rating-columns">
                <mat-icon matListIcon>bar_chart</mat-icon>
                <span>Reytinq sütunları</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>Admin Dashboard</span>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>