<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar color="primary">
            <a routerLink="/" class="home-link">
                <mat-icon>home</mat-icon>
                <span>Ana səhifə</span>
            </a>
        </mat-toolbar>
        <div class="sidenav-content">
            <div mat-list-item routerLink="/admin/users" *ngIf="isAdminOrSuperAdmin$ | async" class="admin-list-item">
                <mat-icon matListIcon>people</mat-icon>
                <span>İstifadəçilər</span>
            </div>
            <div mat-list-item routerLink="/admin/tournaments" *ngIf="isAdminOrSuperAdmin$ | async" class="admin-list-item">
                <mat-icon matListIcon>emoji_events</mat-icon>
                <span>Yarışlar</span>
            </div>
            <div mat-list-item routerLink="/admin/teams" class="admin-list-item">
                <mat-icon matListIcon>group</mat-icon>
                <span>Komandalar</span>
            </div>
            <div mat-list-item routerLink="/admin/players" class="admin-list-item">
                <mat-icon matListIcon>person</mat-icon>
                <span>Oyunçular</span>
            </div>
            <div mat-list-item routerLink="/admin/games" class="admin-list-item">
                <mat-icon matListIcon>sports_volleyball</mat-icon>
                <span>Oyunlar</span>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>İdarəetmə paneli</span>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>