<h2 mat-dialog-title>{{ dataSource.isNewGame ? 'Oyunun əlavə edilməsi' : 'Oyunun redaktə edilməsi' }}</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Turnir</mat-label>
            <mat-select [(value)]="selectedTournamentId" name="tournament">
                <mat-option *ngFor="let tournament of tournaments" [value]="tournament._id">
                    {{ tournament.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-form-field>
                <mat-label>Oyun tarixi</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]='dataSource.startDate' name="date"
                    required>
                <mat-hint>DD.MM.YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker (monthSelected)="setDate($event, picker)"></mat-datepicker>
            </mat-form-field>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Başlama vaxtı</mat-label>
            <input matInput type="time" [(ngModel)]='gameStartTime' name="startTime" required />
            <mat-hint>HH:mm</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bitmə vaxtı</mat-label>
            <input matInput type="time" [(ngModel)]='gameEndTime' name="endTime" required />
            <mat-hint>HH:mm</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Oyunun keçiriləcəyi yer</mat-label>
            <mat-select [(value)]="selectedLocationId" name="location" required>
                <mat-option *ngFor="let location of locations" [value]="location._id">
                    {{ location.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="team-selection">
            <mat-form-field appearance="fill">
                <mat-label>Komanda 1</mat-label>
                <mat-select [(value)]="selectedTeam1Id" name="team1" required (selectionChange)="setTeam1($event.value)">
                    <mat-option *ngFor="let team of teams1" [value]="team._id">
                        {{ team.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hesab</mat-label>
                <input matInput type="number" [(ngModel)]="dataSource.scoreTeam1" name="scoreTeam1" />
            </mat-form-field>
        </div>
        
        <div class="team-selection">
            <mat-form-field appearance="fill">
                <mat-label>Komanda 2</mat-label>
                <mat-select [(value)]="selectedTeam2Id" name="team2" required (selectionChange)="setTeam2($event.value)">
                    <mat-option *ngFor="let team of teams2" [value]="team._id">
                        {{ team.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hesab</mat-label>
                <input matInput type="number" [(ngModel)]="dataSource.scoreTeam2" name="scoreTeam2" />
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Qalib komanda</mat-label>
            <mat-select [(value)]="selectedWinnerId" name="winner">
                <mat-option *ngFor="let team of winnerTeams" [value]="team._id">
                    {{ team.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onClose()">Ləğv et</button>
    <button mat-raised-button color="primary" (click)="onSave()"
        [disabled]="!dataSource.startDate || !gameStartTime || !gameEndTime || !selectedTournamentId || !selectedTeam1Id || !selectedTeam2Id">
        Yadda saxla
    </button>
</mat-dialog-actions>