.gallery-add {
    &__photos {
        display: flex;
        flex-wrap: wrap;
        
        border: 1px dashed #ccc;
        padding: 10px;
        min-height: 50px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .image-previews {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            img {
                max-width: 100px;
                margin-top: 10px;
            }
        }

        img {
            max-width: 100px;
            margin-top: 10px;
        }

    }

}