<div [ngClass]="theme ? 'true' : 'false'">
    <div class="settings">
        <h1>İdarəetmə paneli</h1>
        <!-- Theme -->
        <!-- <mat-slide-toggle [(ngModel)]="theme" (change)="saveSettings()">
            {{ theme ? 'true' : 'false' }}
        </mat-slide-toggle> -->
        <section class="settings__stat-table-columns">
            <h2>Reytinq bölümündəki sütunların göstərilib gizlədilməsi</h2>

            <mat-tab-group mat-stretch-tabs backgroundColor="primary" color="primary">
                <mat-tab label="Ayın şagirdləri">
                    <!-- Student Columns -->
                    <div class="tab-content">
                        <h3>Şagirdlərin sütunları</h3>
                        <div>
                            <div *ngFor="let column of monthStudentColumnOptions">
                                <mat-checkbox [(ngModel)]="column.selected">
                                    {{ column.label }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="İlin şagirdləri">
                    <!-- Student Columns -->
                    <div class="tab-content">
                        <h3>Şagirdlərin sütunları</h3>
                        <div>
                            <div *ngFor="let column of studentColumnOptions">
                                <mat-checkbox [(ngModel)]="column.selected">
                                    {{ column.label }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="İlin müəllimləri">
                    <div class="tab-content">                    
                        <!-- Teacher Columns -->
                        <h3>Müəllimlərin sütunları</h3>
                        <div>
                            <div *ngFor="let column of teacherColumnOptions">
                                <mat-checkbox [(ngModel)]="column.selected">
                                    {{ column.label }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="İlin məktəbləri">
                    <div class="tab-content">
                        <!-- School Columns -->
                        <h3>Məktəblərin sütunları</h3>
                        <div>
                            <div *ngFor="let column of schoolColumnOptions">
                                <mat-checkbox [(ngModel)]="column.selected">
                                    {{ column.label }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="İlin rayonları / şəhərləri">
                    <div class="tab-content">
                        <!-- District Columns -->
                        <h3>Rayonların sütunları</h3>
                        <div>
                            <div *ngFor="let column of districtColumnOptions">
                                <mat-checkbox [(ngModel)]="column.selected">
                                    {{ column.label }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>
        

        <!-- CHANGE: Кнопка для сохранения -->
        <button mat-raised-button color="primary" (click)="saveSettings()">
            Yadda saxla
        </button>
    </div>

    <!-- Пример таблиц -->
    <div class="tables">
        <h2>Şagirdlər</h2>
        <p>sütunlar: {{ getSelectedColumns(studentColumnOptions) || 'Not set' }}</p>
        <!-- <p>sütunlar: {{ studentColumns || 'Not set' }}</p> -->
        <h2>Məktəblər</h2>
        <p>sütunlar: {{ getSelectedColumns(schoolColumnOptions) || 'Not set' }}</p>
        <h2>Müəllimlər</h2>
        <p>sütunlar: {{ getSelectedColumns(teacherColumnOptions) || 'Not set' }}</p>
        <h2>Rayonlar</h2>
        <p>sütunlar: {{ getSelectedColumns(districtColumnOptions) || 'Not set' }}</p>
    </div>
  </div>