<h2 mat-dialog-title>Komandanın redaktə edilməsi</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Komanda</mat-label>
            <mat-select [(value)]="selectedTeamId" name="team">
                <mat-option *ngFor="let team of teams" [value]="team._id">
                    {{ team.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Forma nömrəsi</mat-label>
            <input matInput [(ngModel)]='dataSource.number' name="number" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Soyad</mat-label>
            <input matInput [(ngModel)]='dataSource.lastName' name="lastName" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ad</mat-label>
            <input matInput [(ngModel)]='dataSource.firstName' name="firstName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]='dataSource.email' name="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-form-field>
                <mat-label>Başlanğıc tarixi</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]='dataSource.birthDate' name="birthDate" required>
                <mat-hint>DD.MM.YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker (monthSelected)="setBirthDate($event, picker)"></mat-datepicker>
            </mat-form-field>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Boyu (sm)</mat-label>
            <input matInput [(ngModel)]='dataSource.height' name="height" />
        </mat-form-field>
        
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onClose()">Ləğv et</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!dataSource.lastName || !dataSource.firstName || !dataSource.birthDate">
        Yadda saxla
    </button>
</mat-dialog-actions>