* {
    //padding: 12px;
    header {
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;

        &__title {
            text-align: center;
        }

        &__settings {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        &__left {
            display: flex;
            justify-content: start;
            align-items: center;
        }
        &__right {
            display: flex;
            justify-content: end;
            align-items: center;
            > div {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .mat-toolbar {
        height: 40px;
        position: relative;
        top: 0;
        background-color: #1f1f1f !important;

        &.isScrolled {
            position: fixed;
            top: 0;
            
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
    }
}

.mat-black {
    background-color: #1f1f1f !important;
    color: #fff !important;
}

.main-container {
    padding: 0;
}

@media screen and (max-width: 600px) {
    * {
        padding: 0;
    }
}

mat-icon {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
}

.mat-internal-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
}