* {
    padding: 12px;
    header {
        padding: 0;
    }

    .header {
        &__title {
            text-align: center;
        }

        &__settings {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    * {
        padding: 0;
    }
}

mat-icon {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
}

.mat-internal-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

