<div class="cover">
    <div class="cover__container">
        <h1>Voleybol turniri</h1>
        <p>Bella Cup həvəskar voleybol turniri</p>
        <button class="cover__button" routerLink="/tournaments">Yarışlara bax</button>
    </div>
</div>

<div class="cards">
    <div class="cards__container">
        <div class="card" routerLink="/tournaments">
            <mat-icon>emoji_events</mat-icon>
            <h2>Yarışlar</h2>
            <!-- <mat-icon>location_city</mat-icon>
            <h2>Rayonlar / şəhərlər</h2> -->
        </div>
        <div class="card" routerLink="/schools">
            <mat-icon>school</mat-icon>
            <h2>Məktəblər</h2>
        </div>
        <div class="card" routerLink="/teachers">
            <mat-icon>person</mat-icon>
            <h2>Müəllimlər</h2>
        </div>
        <div class="card" routerLink="/students">
            <mat-icon>people</mat-icon>
            <h2>Şagirdlər</h2>
        </div>
        <div class="card" routerLink="/exams">
            <mat-icon>assignment</mat-icon>
            <h2>İmtahanlar</h2>
        </div>
        <div class="card" routerLink="/stats">
            <mat-icon>trending_up</mat-icon>
            <h2>Reytinq</h2>
        </div>
    </div>
</div>