<div class="cards-container">
    <div class="card" routerLink="/districts">
        <mat-icon>location_city</mat-icon>
        <h2>Rayonlar</h2>
    </div>
    <div class="card" routerLink="/schools">
        <mat-icon>school</mat-icon>
        <h2>Məktəblər</h2>
    </div>
    <div class="card" routerLink="/teachers">
        <mat-icon>person</mat-icon>
        <h2>Müəllimlər</h2>
    </div>
    <div class="card" routerLink="/students">
        <mat-icon>people</mat-icon>
        <h2>Şagirdlər</h2>
    </div>
    <div class="card" routerLink="/exams">
        <mat-icon>assignment</mat-icon>
        <h2>İmtahanlar</h2>
    </div>
    <div class="card" routerLink="/stats">
        <mat-icon>trending_up</mat-icon>
        <h2>Statistika</h2>
    </div>
    <!-- <div class="card" routerLink="/booklets">
        <h2>Kitabçalar</h2>
    </div> -->
</div>