@import '../../../../../variables.scss';

.cover {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/cyberpunk_cover.png');
    background-size: cover;
    background-position: center;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 64px);
        /* Adjust for toolbar height */
        text-align: center;
        color: white;
    }

    h1 {
        font-size: 36px;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__button {
        background-color: rgba(123, 86, 157, 0.52);
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

.navigation {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.toolbar-title {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
}

.desktop-menu {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.desktop-menu a {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.desktop-menu a:hover {
    color: #ffd700;
}

.nav-toggle {
    display: none;
    color: white;
}

:host ::ng-deep .mobile-menu {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.9);

    .mat-mdc-nav-list {
        a.mat-mdc-list-item {
            color: white !important;
            /* Цвет текста для пунктов меню */

            .mdc-list-item__primary-text {
                color: white !important;
                /* Перебиваем глобальный стиль */
            }

            mat-icon {
                color: white !important;
                /* Цвет иконок */
                margin-right: 10px;
            }

            &:hover {
                background-color: rgba(255, 215, 0, 0.2);
                /* Золотой ховер */
                color: #ffd700 !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .toolbar-title {
        font-size: 1rem;
    }
}


.mdc-list-item__primary-text {
    color: $white !important;
}

.mat-drawer-container {
    //background-color: $backgroundColor !important;
    background-color: rgba(255, 255, 255, 0) !important;
    height: 100% !important;
    color: $white !important;

    .mdc-list-item {
        &__primary-text {
            color: $white;
            display: flex;

            >mat-icon {
                margin-right: 10px;
            }
        }
    }
}