<div>
    <div class="breadcrumbs">
        <button mat-fab extended routerLink="/">
            <mat-icon>home</mat-icon>
            Baş səhifə
        </button>
    </div>

    <div *ngIf="isLoading">
        Məktəblər yüklənir...
    </div>
      
    <div *ngIf="hasError">
        {{ errorMessage }}
    </div>
    
    <div class="filters" *ngIf="districts.length > 0">
        <div>
            <mat-form-field>
                <mat-label>Rayonlar</mat-label>
                <mat-select [(value)]="selectedDistrictIds" (selectionChange)="onSelectChanged()" multiple>
                    <mat-option *ngFor="let district of districts" [value]="district._id">
                        {{ district.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="!isLoading && !hasError">
        <table mat-table [dataSource]="schools" class="mat-elevation-z8">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>
                    Məktəb kodu
                </th>
                <td mat-cell *matCellDef="let school">
                    {{ school.code }}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    Məktəb adı
                </th>
                <td mat-cell *matCellDef="let school">
                    {{ school.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef>
                    Məktəbin yerləşdiyi rayon
                </th>
                <td mat-cell *matCellDef="let school">
                    {{ school.district.name }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['code', 'name', 'district']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['code', 'name', 'district'];"></tr>
        </table>
    </div>

    <div *ngIf="!isLoading && !hasError && schools && schools.length > 0" >
        <mat-paginator
            [length]="totalCount"
            [pageIndex]="pageIndex"
            [showFirstLastButtons]="true"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20, 50]"
            (page)="onPageChange($event)" />
    </div>

    <div class="upload-file">
        <form (submit)="onSubmit($event)" enctype="multipart/form-data">
            <input type="file" style="display: none;" #fileInput (change)="onFileChange($event)" accept=".xlsx, .xls" required />
            <button mat-flat-button extended (click)="fileInput.click()">
                <mat-icon fontIcon="attach_file"></mat-icon>
                Fayldan yüklə
            </button>
            <div style="display: inline-block; width: 500px; padding: 0 20px;">
                <label *ngIf="fileInput && fileInput.files && fileInput.files.length > 0">
                    {{ fileInput.files[0].name}}
                </label>
            </div>
            <button mat-flat-button extended type="submit" *ngIf="fileInput && fileInput.files && fileInput.files.length > 0">
                <mat-icon>upload</mat-icon>
                Yüklə
            </button>
        </form>
    </div>
</div>