<h2 mat-dialog-title>Müəllimin redaktə edilməsi</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Məktəbin kodu</mat-label>
            <input matInput [(ngModel)]='data.school.code' name="code" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Məktəbin adı</mat-label>
            <input matInput [(ngModel)]='data.school.name' name="name" required />
        </mat-form-field>

        <!--
        Сюда нужно добавить select, который будет позволять выбирать школу и где выбранная школа будет data.teacher.school
        -->
        <mat-form-field appearance="fill">
            <mat-label>Məktəbin rayonu / şəhəri</mat-label>
            <mat-select [(value)]="selectedDistrict" (selectionChange)="onDistrictSelectChanged()" required>
                <mat-option *ngFor="let district of districts" [value]="district">
                    {{ district.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Məktəbi, müəllimlərini və şagirdlərini siyahıda göstər</mat-label>
            <mat-select [(ngModel)]="data.school.active" name="showInList" required>
                <mat-option [value]="true">Bəli</mat-option>
                <mat-option [value]="false">Xeyr</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onClose()">Ləğv et</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!data.school">
        Yadda saxla
    </button>
</mat-dialog-actions>