<h2>Reytinq sütunları</h2>
<mat-tab-group>
    <mat-tab label="Ayın şagirdləri">
        <ng-template mat-tab-label>
            <mat-icon>view_column</mat-icon>
            Ayın şagirdləri
        </ng-template>
        <div class="tab-content">
            <!-- Student Columns -->
            <div>
                <div *ngFor="let column of monthStudentColumnOptions">
                    <mat-checkbox [(ngModel)]="column.selected">
                        {{ column.label }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin şagirdləri">
        <div class="tab-content">
            <!-- Student Columns -->
            <div>
                <div *ngFor="let column of studentColumnOptions">
                    <mat-checkbox [(ngModel)]="column.selected">
                        {{ column.label }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin müəllimləri">
        <div class="tab-content">
            <!-- Teacher Columns -->
            <div>
                <div *ngFor="let column of teacherColumnOptions">
                    <mat-checkbox [(ngModel)]="column.selected">
                        {{ column.label }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin məktəbləri">
        <div class="tab-content">
            <!-- School Columns -->
            <div>
                <div *ngFor="let column of schoolColumnOptions">
                    <mat-checkbox [(ngModel)]="column.selected">
                        {{ column.label }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin rayonları">
        <div class="tab-content">
            <!-- District Columns -->
            <div>
                <div *ngFor="let column of districtColumnOptions">
                    <mat-checkbox [(ngModel)]="column.selected">
                        {{ column.label }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="actions">
    <button mat-raised-button color="primary" (click)="saveColumnSettings()">Sütunları yadda saxla</button>
    <button mat-raised-button color="warn" (click)="resetColumns()">Sıfırla</button>
</div>
