.login-container {
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
}
  
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}
  
button {
    width: 320px;
    padding: 10px;
    margin-top: 10px;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;

    a {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}