<h2>Oyunçular</h2>
<!-- Ниже надо сделать фильтр, мультиселект для фильтрации по командам -->
<div class="filter-container">
    <mat-form-field appearance="fill">
        <mat-label>Oyunlar</mat-label>
        <mat-select [(value)]="selectedTeams" (selectionChange)="onTeamFilterChange($event.value)" multiple>
            <mat-option value="">Hamısı</mat-option>
            <mat-option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let gamer">{{ gamer.number }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Soyadı</th>
        <td mat-cell *matCellDef="let gamer">{{ gamer.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Adı</th>
        <td mat-cell *matCellDef="let gamer">{{ gamer.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Komandası</th>
        <td mat-cell *matCellDef="let gamer">{{ gamer.team?.name || 'Qeyd olunmayıb' }}</td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Vəzifəsi</th>
        <td mat-cell *matCellDef="let gamer">{{ gamer.isCaptain ? 'Kapitan' : gamer.isCoach ? 'Məşqçi' : '' }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Əməliyyatlar</th>
        <td mat-cell *matCellDef="let user">
            <div class="action-buttons" *ngIf="isAdminOrSuperAdmin$ | async">
                <button mat-raised-button color="primary" (click)="onGamerUpdate(user)">Redaktə</button>
                <button mat-raised-button color="warn" (click)="onGamerDelete(user)">Sil</button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="pagination-container">
    <mat-paginator [length]="totalCount" [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"
        (page)="onPageChange($event)"></mat-paginator>
</div>
<div class="no-data-message" *ngIf="dataSource.length === 0">
    <p>Oyunçu məlumatları mövcud deyil.</p>
</div>
<div class="add-user-button">
    <button mat-raised-button color="primary" (click)="onGamerCreate()">Oyunçu əlavə et</button>
</div>