<h2>Oyunlar</h2>
<!-- Ниже надо сделать фильтр, мультиселект для фильтрации по командам -->
<!-- <div class="filter-container">
    <mat-form-field appearance="fill">
        <mat-label>Oyunlar</mat-label>
        <mat-select [(value)]="selectedTeams" (selectionChange)="onTeamFilterChange($event.value)" multiple>
            <mat-option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div> -->
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="tournament">
        <th mat-header-cell *matHeaderCellDef>Turnir</th>
        <td mat-cell *matCellDef="let game">{{ game.tournament.name }}</td>
    </ng-container>
    <ng-container matColumnDef="tour">
        <th mat-header-cell *matHeaderCellDef>Tur</th>
        <td mat-cell *matCellDef="let game">{{ (game.tour || '').name }}</td>
    </ng-container>
    <ng-container matColumnDef="team1">
        <th mat-header-cell *matHeaderCellDef>Komanda 1</th>
        <td mat-cell *matCellDef="let game">{{ game.team1.name }}</td>
    </ng-container>
    <ng-container matColumnDef="team2">
        <th mat-header-cell *matHeaderCellDef>Komanda 2</th>
        <td mat-cell *matCellDef="let game">{{ game.team2.name }}</td>
    </ng-container>
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Hesab</th>
        <td mat-cell *matCellDef="let game">
            {{ game.scoreTeam1 }} : {{ game.scoreTeam2 }}
        </td>
    </ng-container>
    <ng-container matColumnDef="winner">
        <th mat-header-cell *matHeaderCellDef>Qalib</th>
        <td mat-cell *matCellDef="let game">{{ game.winner?.name || 'Qeyd olunmayıb' }}</td>
    </ng-container>
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Oyun başlama vaxtı</th>
        <td mat-cell *matCellDef="let game">{{ game.startDate | azeDateTime}}</td>
    </ng-container>
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Oyun bitmə vaxtı</th>
        <td mat-cell *matCellDef="let game">{{ game.endDate | azeDateTime}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Əməliyyatlar</th>
        <td mat-cell *matCellDef="let game">
            <div class="action-buttons" *ngIf="isAdminOrSuperAdmin$ | async">
                <button mat-raised-button color="primary" (click)="onGameUpdate(game)">Redaktə</button>
                <button mat-raised-button color="warn" (click)="onGameDelete(game)">Sil</button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="pagination-container">
    <mat-paginator [length]="totalCount" [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"
        (page)="onPageChange($event)"></mat-paginator>
</div>
<div class="no-data-message" *ngIf="dataSource.length === 0">
    <p>Oyun məlumatları mövcud deyil.</p>
</div>
<div class="add-user-button">
    <button mat-raised-button color="primary" (click)="onGameCreate()">Oyun əlavə et</button>
</div>