/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: $backgroundColor;

    &.light-mode {
        background-color: $white;
        color: $backgroundColor;
    }

    &.dark-mode {
        background-color: $backgroundColor;
        color: $white;

        main-flat-button {
            background-color: #0e0e0e !important;
            color: $white !important;
            &:hover {
                background-color: #1f1f1f !important;
            }
        }

        .mat-mdc-table {
            background-color: $backgroundColor !important;
            color: $white !important;

            .mat-mdc-header-row {
                background-color: $backgroundColor !important;
                color: $cyan !important;
            }

            .mat-mdc-row {
                background-color: $backgroundColor !important;
                color: $white !important;
            }

            .mat-mdc-table-cell {
                color: $white !important;
            }
        }

        .mat-drawer-container {
            // background-color: $backgroundColor !important;
            background-color: rgba(255,255,255, 0) !important;
            height: 100% !important;
            color: $backgroundColor !important;
        }

        .mat-drawer-inner-container {
            background-color: $backgroundColorGreen !important;
            color: $white !important;
        }

        .mdc-tab {
            &--active {
                span {
                    color: $tabActiveDarkThemeColor !important;
                }
            }
            span {
                color: $white;
            }
            &:hover {
                span {
                    color: $tabActiveLightThemeColor !important;
                }
            }
        }

        .mdc-form-field {
            color: $white !important;
        }

        .mdc-checkbox {
            &__background {
                border-color: $white !important;
            }
        }

        .student-card {
            background-color: $backgroundColorGreen !important;
            color: $white !important;
        }

        .mat-mdc-dialog-surface {
            //background-color: $backgroundColor;
            color: $white !important;
        }
    }
}

table {
    thead {
        tr {
            border-color: $backgroundColor;
        }
    }
    tbody {
        tr {
            border-color: $backgroundColor;
        }
    }

    &.dark-mode {
        thead {
            tr {
                border-color: cyan;
            }
        }
        tbody {
            tr {
                border-color: inherit;
            }
        }
        td {
            background-color: $backgroundColor !important;
            color: $white !important;
        }
        th {
                background-color: $backgroundColor !important; color: $cyan !important;
        }
    }
}

.breadcrumbs {
    margin-bottom: 20px;
}

.upload-file {
    margin-top: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;

    > mat-form-field {
        margin-right: $smallMargin;
    }

    &__dates {
        width: 300px;
    }
    &__districts {
        width: 350px;
    }
    &__schools {
        width: 550px;
    }
    &__teachers {
        width: 550px;
    }
    &__grades {
        width: 100px;
    }
    &__exams {
        width: 400px;
    }
    &__search {
        width: 500px;

        &-by-code {
            width: 185px;
        }
    }
    &__calendar-month {
        width: 150px;
    }
    &__calendar-year {
        width: 100px;
    }
}

.filter-field {
    min-width: 250px;
    max-width: 300px;
    &:first-child {
        margin-left: 0;
    }
    margin-left: 20px;
}

mat-form-field {
    width: 100%;
}

.detele-button {
    background-color: rgb(228, 73, 73) !important;
}

.global-action-pannel {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.not-found {
    color:rgb(228, 73, 73);
    font-weight: 600;
}

.clickable-row {
    cursor: pointer;
  }
  
.clickable-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mat-edit-button {
    background-color: rgb(231, 107, 19) !important;
    margin-right: 15px;
}

.action-buttons {
    display: flex;
    justify-content: flex-start;

    > button {
        margin-right: 10px;
    }
}