/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $backgroundColor;

    &.dark-mode {
        background-color: $backgroundColor;
        color: $white;
    }
}

table {
    thead {
        tr {
            border-color: $backgroundColor;
        }
    }
    tbody {
        tr {
            border-color: $backgroundColor;
        }
    }

    &.dark-mode {
        thead {
            tr {
                border-color: cyan;
            }
        }
        tbody {
            tr {
                border-color: inherit;
            }
        }
        td {
            background-color: $backgroundColor !important;
            color: $white !important;
        }
        th {
                background-color: $backgroundColor !important; color: $cyan !important;
        }
    }
}

.breadcrumbs {
    margin-bottom: 20px;
}

.upload-file {
    margin-top: 20px;
}

.filters {
    display: flex;

    div {
        margin-right: $smallMargin;
    }
}

mat-form-field {
    width: 100%;
}

.detele-button {
    background-color: rgb(228, 73, 73) !important;
}

.global-action-pannel {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}