/* COLORS */

$backgroundColor: #101414;
$backgroundColorGreen: #020f0f;
$white: #dae5e4;
$darkWite: #c2d0cf;
//$cyan: #00ffff;
$cyan: #65d8d8;
$tabActiveDarkThemeColor: #bfa7e8;
$tabActiveLightThemeColor: #673ab7;
/* MARGINS */
$smallMargin: 15px;