<div>
    <div class="breadcrumbs">
        <button mat-fab extended routerLink="/">
            <mat-icon>home</mat-icon>
            Baş səhifə
        </button>
    </div>

    <div *ngIf="isLoading">
        Loading districts...
    </div>
      
    <div *ngIf="hasError">
        {{ errorMessage }}
    </div>
      
    <div *ngIf="!isLoading && !hasError">
        <table mat-table [dataSource]="districts" class="mat-elevation-z8">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>
                    Rayon kodu
                </th>
                <td mat-cell *matCellDef="let exam">
                    {{ exam.code }}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    Adı
                </th>
                <td mat-cell *matCellDef="let exam">
                    {{ exam.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef>
                    Əmsalı (İmtahan sayı)
                </th>
                <td mat-cell *matCellDef="let exam">
                    {{ exam.rate }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['code', 'name', 'rate']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['code', 'name', 'rate'];"></tr>
        </table>
    </div>

    <div class="global-action-pannel">
        <button mat-flat-button extended (click)="openAddDistrictDialog()">
            <mat-icon>add</mat-icon>
            Yeni rayon əlavə et
        </button>
    </div>
</div>