<h2 mat-dialog-title>Komandanın redaktə edilməsi</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Ad</mat-label>
            <input matInput [(ngModel)]='dataSource.name' name="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Qısa ad (vacib deyil)</mat-label>
            <input matInput [(ngModel)]='dataSource.shortName' name="shortName" />
        </mat-form-field>

        <div class="team-edit__logo">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput />
            <div (click)="fileInput.click()">
                {{ dataSource.logo ? 'Loqonu dəyiş' : 'Loqo yüklə' }}
            </div>
            <img *ngIf="previewUrl" [src]="previewUrl" alt="Logo Preview" style="max-width: 100px; margin-top: 10px;" />
            <img *ngIf="!previewUrl && dataSource.logoUrl" [src]="imageUrl" alt="Logo" style="max-width: 100px; margin-top: 10px;" />
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Şəhər</mat-label>
            <input matInput [(ngModel)]='dataSource.city' name="city" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Turnirlər</mat-label>
            <mat-select [(value)]="selectedTournamentIds" multiple>
                <mat-option *ngFor="let tournament of tournaments" [value]="tournament._id">
                    {{ tournament.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onClose()">Ləğv et</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!dataSource.name">
        Yadda saxla
    </button>
</mat-dialog-actions>